html {
  min-height: 100%;
}

body {
  min-height: 100vh;
  background-color: #920d2f05;
}


/********************/
/* Generic classes */
/********************/
.color-red {
  color: #a52026;
}

.color-blue{
  color: #0268a6;
}

.bg-red{
  background-color: #a52026;
}

.alert{
  transition: all ease-in-out 500ms;
}

.text-shadow-one{
  color: #A52026;
  text-shadow: 1px 1px 2px #000000;
}

.box-shadow-one{
  box-shadow: 1px 1px 10px 1px black;
}
.box-shadow-one:hover{
  box-shadow: 2px 2px 10px 1.5px black;

}
/********************/
/* End Generic classes */
/********************/

/********************/
/* header */
/********************/
.header {
  top: 0;
  left: 0;
  right: 0;
  z-index: 3;
}

.navbar {
  background-color: #393d40;
  
}

/********************/
/*End header */
/********************/

/********************/
/*Main */
/********************/
.main {
  margin-top: 10rem;
}

.categories-list .list-group-item.active {
  background-color: #57000035;
  
}

.card {
  height: 23rem;
  transition: scale ease-out 300ms;
  width: 100%;
  background-color: #57000035;
  border-radius: 10px;
}

.card:hover{
  scale: 1.01;
  box-shadow: #a52026 solid 1px;
  border:.3 groove #212529;

}
.card-body{
  height: 50%;
  justify-content: space-between;
  align-content: space-between;
  
}
.card img {
  height: 50%;
  width: 100%;
}

.list-group-item.active{
  border:none;
}

/********************/
/*End Main */
/********************/

/********************/
/* Form */
/********************/
form .alert {
  left: 0;
  top: 3em;
  z-index: 10000;
  opacity: .99;
  color: white;
  background-color: #a52026;
}

form .btn {
  background-color: #0268a6;
}

/********************/
/* End Form */
/********************/

/********************/
/* Categories list */
/********************/
.categories-list .list-group-item {
  padding: 0;
}

/********************/
/* End Categories list */
/********************/

/********************/
/* Footer */
/********************/
.footer {
  min-height: 4rem;
}

/********************/
/* End Footer */
/********************/

/********************/
/* Loader */
/********************/
.spinner-wrap {
  background-color: #00000099;
  min-height: 100vh;
  min-width: 100%;
  z-index: 2;
  /* opacity: .5; */
  display: none;
}

.spinner-grow {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 150px;
  height: 150px;
  z-index: 3;
  background-color: silver;
}

/********************/
/* End Loader */
/********************/

/********************/
/* Media querys */
/********************/
@media screen and (min-width:768px) {
  /* body {
    color: red;
    background-color: black;
  } */

  .card {
    height: 20rem;
  }
}

/********************/
/* End Media querys */
/********************/
